
body {
    margin: 0;
    padding: 0;
}

.page {
    width: 1024px;
    margin: 20px auto;
}
form {
    margin: 10px;
    padding: 8px;
}

div {
    margin: 20px;
}

button {
    border: 0;
    background: #ff7755;
    color: #fff;
    margin-left: 10px;
}

input {
    border: 1px solid #ccc;
}

strong {
    margin-left: 10px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}
